<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/app/static/css/login.css">
    <title>Document</title>
</head>
<body>
<div class="ring-register">
    <i style="--clr:#ae00ff;"></i>
    <i style="--clr:#00ffff;"></i>
    <i style="--clr:#000000;"></i>
    <div class="login">
      <h2 id="logintxt">Register</h2>
      <div class="inputBx">
        <input type="text" placeholder="Username">
      </div>
      <div class="inputBx">
        <input type="text" placeholder="Email">
      </div>
      <div class="inputBx">
        <input type="password" placeholder="Password">
      </div>
      <div class="inputBx">
        <input type="password" placeholder="Confirm Password">
      </div>
      <div class="inputBx">
        <button class="btn-hover color-3">Sign Up</button>
      </div>
      <div class="links">
        
      </div>
    </div>
</div>
</body>
</html>